<style>
    #play-link {
        float: left;
        margin-right: 100px;
    }
</style>
<div id="config">
    <h3>Player</h3>
    <input type="text" ng-model="player" ng-change="update()" />
    <h3>Opponent</h3>
    <input type="text" ng-model="opponent" ng-change="update()" />
    <h3>Command Cards</h3>
    <textarea ng-model="deck" ng-change="update()"></textarea>
    <br/>
    <a id="play-link" ng-class="{ inactive: invalid() }" href="#/player/?{{ params }}">play</a>
    <a href="#/spectator/?{{ params }}">watch</a>
    <br/>
    <p class="error">{{ error }}</p>
</div>