
    <meta charset="utf-8">
    <link rel="icon" href="{{ site.baseurl }}/assets/icons/favicon.ico">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/icons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/icons/favicon-192x192.png" sizes="192x192">
    <title>
        {% if page.title %} 
            {{ page.title }}
        {% else %} 
            {{ site.title }}
        {% endif %}
    </title>
    <style>
        @font-face{
           font-family: "Distant-Galaxy";
            src: url('{{ site.baseurl }}/assets/fonts/DISTGRG_.ttf');
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css">
    <script type="text/javascript">
        "use strict";
        var app = app || {};
        app.baseUrl = "{{ site.baseurl }}";
    </script>