html {
    font-family: sans-serif;
    color: black;
    background: linear-gradient(to bottom right, #eee, #bbb) no-repeat center center fixed;
    background-size: cover;
}
/* labels */
a {
    color: black;
}
h1, h2 {
    font-family: "Distant-Galaxy";
}
h1 {
    text-align: center;
}
h3 {
    background-color: white;
    padding: 1em;
    margin: 0em 0 3em 0;
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.2);
    font-weight: normal;
    font-size: 12pt;
}
.content {
    max-width: 50em;
    margin: 0 auto;
}
.winner-rebel {
    color: red;
}
#cards + p {
    text-align: center;
}
#cards + p > img {
    border: 0.3em solid grey;
    border-radius: 0.3em;
    width: 15%;
}
#cards + p > img:nth-child(n+2):nth-child(-n+4) {
    margin-left: -0.5em;
}
#cards + p > img:nth-child(1) {
    transform: rotate(-10deg);
}
#cards + p > img:nth-child(2) {
    transform: rotate(-5deg);
}
#cards + p > img:nth-child(3) {
    transform: rotate(5deg);
}
#cards + p > img:nth-child(4) {
    transform: rotate(10deg);
}
#cards + p > img:nth-child(5) {
    margin-left: 2em;
}
.campaign-row {
    overflow: auto;
}
.campaign-links {
    float: left;
    clear: left; 
}
.campaign-excerpt {
    float: right;
    clear: right;
}
