.post > h2, .post > h3, .post > h4, .post > h5, .post > p {
    clear: both;
}

/* Banner */
.post > h5 > img {
    width: 100%;
}

/* --- EVENTS --- */
.post > h6 {
    width: 45%;
    margin: 0 0 5em 0;
}
.post > blockquote {
    width: 50%;
    background:rgba(0,0,0,0.5);
    color: white;
    margin: 0 0 5em 0;
    padding: 1em;
}
.post > blockquote > p {
    margin: 0;
}
.post > h6 > img {
    width: 100%;
    float: left;
}

.post > h6 > img, .post > blockquote {
    box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.75), 0 1em 2em 0 rgba(0, 0, 0, 0.2);
}

/* --- ODDS --- */
.post > h6:nth-of-type(odd), .post > blockquote:nth-of-type(odd) {
    float: left;
    /*border: 0.3em solid red;*/
}
.post > h6:nth-of-type(odd) {
    clear: left;
}
.post > blockquote:nth-of-type(odd) {
    clear: right;
}

/* --- EVENS --- */
.post > h6:nth-of-type(even), .post > blockquote:nth-of-type(even) {
    float: right;
    /*border: 0.3em solid blue;*/
}
.post > h6:nth-of-type(even) {
    clear: right;
}
.post > blockquote:nth-of-type(even) {
    clear: left;
    text-align: right;
}