 <div ng-hide="target === null">
    <p>{{ pendingAction.ability.title }}</p>
</div>
 <div class="player">
    <canvas 
        class="skirmish-space"
        ng-repeat="uiSpace in spaces"
        style="left:{{ rCtx.left(uiSpace.space.x) }}px; top:{{ rCtx.top(uiSpace.space.y) }}px"
        width="{{ rCtx.size }}"
        height="{{ rCtx.size }}"
        ng-click="selectSpace(uiSpace)"
        data-rctx="rCtx"
        data-space="uiSpace"
        data-state="state"
        space-render></canvas>
    <div ng-repeat="unit in units">
        <!-- Grouped together for CSS selecting -->
        <canvas 
            class="skirmish-unit"
            ng-class="{ exausted:unit.exausted, active:unit.active, active_waiting:unit.activeWaiting }" 
            style="left:{{ rCtx.left(unit.x) }}px; top:{{ rCtx.top(unit.y) }}px"
            width="{{ rCtx.size }}"
            height="{{ rCtx.size }}"
            data-unit="unit"
            data-targetable="pendingAction.targetableUnits"
            ng-click="selectUnit(unit)"
            unit-render></canvas>
        <div 
            class="skirmish-unit-detail" 
            style="left:{{ rCtx.left(unit.x) }}px; top:{{ rCtx.top(unit.y) }}px">
            <p>{{ unit.deployment.title }}</p>
            <div ng-hide="pendingAction !== null">
                <p>Actions: {{ unit.actionCount }}</p>
                <p>Movement Points: {{ unit.movementPoints }}</p>
                <ul>
                    <li ng-repeat="action in unit.actions">
                        <button ng-click="performAction(unit, action)" >{{ action.name }}</button>
                    </li>
                </ul>
                <button ng-click="exaust(unit)">Done</button>
            </div>
            <div ng-show="pendingAction !== null">
                <p>{{ pendingAction.ability.name }}</p>
                <button ng-click="cancelAction()">Cancel</button>
            </div>
        </div>
    </div>
</div>