---
layout: default
---
<h1>{{ site.title }}</h1>
{% for campaign in site.campaign %}
<hr/>
<div class="campaign-row">
  {% assign campaignId = campaign[0] %}
  <div class="campaign-links">
    <h2>{{ campaign[1].name }}</h2>
    <ul>
        {% for post in site.categories[campaignId] reversed %}
        {% if post.url %}
            <li>
            <a href="{{ site.baseurl }}{{ post.url }}">
                <p>{{ post.title }}</p>
            </a>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
    </div>
    <div class="campaign-excerpt">
    {% for post in site.categories.campaign %}
        {% if post.slug == campaignId %}
            {{ post.excerpt }}
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endfor %}