html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

#content {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

#build #filters label {
    text-transform: capitalize;
}

#build #toolbar {
    background: white;
    border: 1px solid black;
    padding: 10px;
}

#build #toolbar #error {
    color: #a00;
    font-weight: bold;
}

#build .column {
    float: left;
    width: 30%;
}

#build #deck-editor .card {
    width: 200px;
    height: 305px;
    margin-bottom: -250px;
}

#build #deck-editor .card:hover {
    margin-bottom: 0px;
}
