html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

#content {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

#build {
    overflow: auto;
}

#build .column {
    float: left;
    width: 30%;
    border: 1px solid black;
}

#build .column img {
    width: 200px;
}